<div class="mainContent">
    <div class="single-post-column">
        <div class="col-md-12 mx-auto">
            <h5>Про мене</h5>
            <div class="card-body">
                <p>Привіт! Мене звати Іра і я рада вітати тебе на цій сторінці.</p>
                <p>Тут зібрано фотографії, які назавжди заморозили фрагменти чийогось життя. Прогулянки полем, ніжні обійми, шелест трави, молодість, сміх, сімейні жарти... Але найбільше з усього я ціную людей, їхню любов, щирість і самовіддачу. Якщо ти не боїшся бути справжнім, не боїшся любити, то разом ми можемо зловити нові митті твого життя.</p>
                <div class="portfolio-img">
                    <img src="https://drive.google.com/uc?export=download&id=128udw8-r8pK8qFhm7S7OdHcG1uszoWMz" alt="About me" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</div>