<div class="mainContent">
    <div class="single-post-column">
        <div class="col-md-12 mx-auto">
            <h5>Контакти</h5>
            <div class="card-body">
                <div class="form-group">
                    <p>Ти можеш мене знайти в наступних соцмережах:</p>
                </div>
                <div class="form-group">
                    <a href="https://www.facebook.com/lakoma.ira"><i class="fab fa-facebook-f social-links"></i></a>
                    <a href="https://www.instagram.com/i_lakomka/"><i class="fab fa-instagram social-links"></i></a>
                    <a href="#"><i class="fab fa-twitter social-links"></i></a>
                    <a href="https://www.linkedin.com/in/iryna-lakoma-955a88142/"><i class="fab fa-linkedin-in social-links"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>