<div class="container text-center">
    <div class="alert alert-secondary text-center">
        <h1>Welcome to Admin Dashboard</h1>
    </div>
    <hr>
    <p>Here you can check all of your  <a href="/admin/posts">posts</a>, <a href="/admin/posts/create">create new</a> or <a href="/admin/posts">edit existing one</a>.</p>
    <p>Also you can <a href="/admin/category">edit your categories</a>, <a href="/admin/category">check new comments</a> and <a href="/admin/category">approve them</a>.</p>
    <p>Use side navigation for quick access.</p>
</div>