<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/png" style="height: 16px" />
    <title>Lakoma. the Photographer</title>
    <meta name="description" content="Perspective Page View Navigation: Transforms the page in 3D to reveal a menu" />
    <meta name="keywords" content="3d page, menu, navigation, mobile, perspective, css transform, web development, web design" />
    <meta name="author" content="Codrops" />

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="/css-index/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css-index/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css-index/component.css" />

    <!-- My edited FontAwesome Icons -->
    <link rel="stylesheet" href="/fontawesome-free-5.10.2-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css-index/my-default.css" />
</head>