<div id="perspective" class="perspective effect-airbnb">
    <div class="container">
        <div class="wrapper"><!-- wrapper needed for scroll -->


            <!-- Top Navigation -->
            <header class="codrops-header">
                <div class="flex-container center">
                <img src="/assets/logo.png" style="height: 100px">
                <h1>thePhotographer<span>#moments_on_fragments</span></h1>
                </div>
            </header>
            <!-- Top Navigation END -->
            <!-- Main Content -->
            <div class="main clearfix">
                <div class="column">
                    <p><button id="showMenu">Menu</button></p>
                    <p><small>Find me here:</small></p>
                    <div>
                        <a href="https://www.facebook.com/lakoma.ira"><i class="fab fa-facebook-f social-links"></i></a>
                        <a href="https://www.instagram.com/i_lakomka/"><i class="fab fa-instagram social-links"></i></a>
                        <a href="#"><i class="fab fa-twitter social-links"></i></a>
                        <a href="https://www.linkedin.com/in/iryna-lakoma-955a88142/"><i class="fab fa-linkedin-in social-links"></i></a>
                    </div>
                    <p>
                        <h5></h5>
                        <h6>&copy; Lakoma I. 2019</h6>
                        <h7>Developed by</h7>
                        <h6>&copy; Kotsiurko R. 2019</h6>
                    </p>
                </div>

