<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Panel</title>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/png" style="height: 16px" />
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css-admin/bootstrap-switch.css" rel="stylesheet" >

    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"/>

    <!-- Custom styles for this template-->
    <link href="/css-admin/sb-admin.css" rel="stylesheet">

    <!-- My edited FontAwesome Icons -->

    <link rel="stylesheet" href="/fontawesome-free-5.10.2-web/css/all.css">

    <!-- Custom styles for ADMIN section of the SITE -->
    <link rel="stylesheet" type="text/css" href="/css-admin/my-admin.css"/>
</head>
