<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Back To Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-tachometer-alt nav-links"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="All Posts">
                <a class="nav-link" href="/admin/posts">
                    <i class="fas fa-border-all nav-links"></i>
                    <span class="nav-link-text">All Posts</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Create Post">
                <a class="nav-link" href="/admin/posts/create">
                    <i class="fas fa-plus-square nav-links"></i>
                    <span class="nav-link-text">New Post</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Portfolio">
                <a class="nav-link" href="/admin/portfolio">
                    <i class="fas fa-images nav-links"></i>
                    <span class="nav-link-text">Portfolio</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Create New Portfolio Item">
                <a class="nav-link" href="/admin/portfolio/create">
                    <i class="fas fa-plus-square nav-links"></i>
                    <span class="nav-link-text">New Portfolio Item</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
                <a class="nav-link" href="/admin/category">
                    <i class="fas fa-list nav-links"></i>
                    <span class="nav-link-text">Categories</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
                <a class="nav-link" href="/admin/comment">
                    <i class="fas fa-comments nav-links"></i>
                    <span class="nav-link-text">Comments</span>
                </a>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
